.side-nav li > a {
  padding: 0 16px;
}

.side-nav .divider {
  margin: 0;
  height: 15px;
  border-bottom: 1px solid #e0e0e0;
  background-color: transparent;
}

.sidenav-header {
  background: #283593 no-repeat center center;
  background-size: cover;
  margin-bottom: 0px;
  padding: 10px 0 0 10px;
}
.sidenav-header .row {
  margin-bottom: 0;
}

.sidenav-footer {
  margin-bottom: 0px;
  padding: 0;
}
.sidenav-footer .row {
  margin-bottom: 0;
}
.sidenav-footer .row .social-icons a {
  opacity: 0.5;
  padding: 0;
  text-align: center;
}
.sidenav-footer .row .social-icons a:hover {
  background-color: inherit;
  opacity: 1;
}

.col .s4 {
  padding-bottom: 10px;
}

.col .s8 {
  font-size: 25px;
}