<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Cash Equity OMS</title>
  <link rel="stylesheet" href="../css/style.css">
  <script type="text/javascript">
   window.history.forward();
    function noBack() { window.history.forward(); }
  </script>

  </head>
<body onload="noBack();" onpageshow="if (event.persisted) noBack();">

  <!-- <script src="https://use.typekit.net/rjb4unc.js"></script> -->
<script>try{Typekit.load({ async: true });}catch(e){}</script>

<div class="container">
    <div class="logo">
      Cash Equity Order Management System
    </div>

    <div class="login-item">

      <form class="form form-login" id="form_id">
        <div class="form-field">
          <label class="user" for="login-username"><span class="hidden">Username</span></label>
          <input id="login-username" type="text" class="form-input" placeholder="Username" required>
        </div>

        <div class="form-field">
          <label class="lock" for="login-password"><span class="hidden">Password</span></label>
          <input id="login-password" type="password" class="form-input" placeholder="Password" required>
        </div>

        <div class="form-field">
          <input type="button" value="Log in" onclick="submit_by_id()">
        </div>

        <div class="form-field">
          <a href="../templates/forgot_password.html"> Forgot Password?</a>
        </div>

      </form>
    </div>
</div>

<script src="../js/index.js"></script>
</body>

</html>
